<h1>Editing translations</h1>
<p class="mailing_subject">Language : <%= @translation.language.name %></p>
<%= form_for([@mail,@translation],:url=>mail_translation_path(@mail,@translation,:page=>@page)) do |f| %>
  <%= f.error_messages if 1 == 0%>

  <p>
    <%= f.label :subject %><br />
	<input id="translation_subject" name="translation[subject]" size="85" type="text" value="<%= h @translation.subject %>" />
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body,:size=> '122x25' %>
  </p>
  <p id ="translation_p">
    <%= f.submit 'Update' %> - <%= link_to 'Back', mail_translations_path(@mail) %>
  </p>
  <div id="var">
  <table>
    <tr>
      <td>
        name
      </td>
      <td>
      </td>
      <td>
        description
      </td>
    </tr>  
  <%= render :partial => 'variable', :collection =>  @variables %>
  </table>
  </div>
  
<% end %>

